<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Análise de Games - Twitch/IGDB{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="{{ url_for('index') }}" class="logo">🎮 Stream Insights</a>
            
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Início</a></li>
                    
                    <li><a href="{{ url_for('listagem') }}">Catálogo de Jogos</a></li>
                    
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('cadastro') }}">Cadastro</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Stream Insights. Integrado com Twitch/IGDB APIs.</p>
        </div>
    </footer>
</body>
</html>