{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-box">
        <h2>Entrar no Sistema</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" style="margin-top: 15px;">Acessar</button>
        </form>
        <p style="margin-top: 20px;">Não tem conta? <a href="{{ url_for('cadastro') }}">Cadastre-se aqui</a>.</p>
    </div>
{% endblock %}